<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>
  <div>{{comments.length}}
          {{format_plural "comment" comments.length}}</div>
  <p>
    <button class="btn btn-primary">Submit</button>
  </p>
</div>