{{!-- <div class="comments">

  <section class="comment">
    <div class="meta">
      {{user.username}} on {{date_created}}
    </div>
    <div class="text">
      {{comment_text}} 
    </div>
  </section>

</div> --}}

<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{date_created}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>




{{!-- <div>
  {{#each posts as |post|}}
  <h3>{post.title}</h3>
  <p>Written by {post.author}</p>
  <p>{post.description}</p>
  {{/each}}
</div> --}}