<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-name" type="text" value="{{post.name}}" />
      {{!-- <span>({{{format_url post.post_url}}})</span> --}}
    </div>
    <div>
            
            <textarea name="post-desc" value="{{project.description}}"></textarea>
        </div>
    <div>
      <a class="edit" href="/project/edit/{{id}}">{{post.comments.length}} {{format_plural
        post.comments.length}}</a>
    </div>
    <button type="submit">Edit post</button>
    
  </form>
</article>

{{!-- <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">edit comment</button>
  </div>
</form> --}}

{{> comment post.comments}}

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
<script src="/js/comment.js"></script>